#navbar {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 5px 8px -6px dimgray;
    z-index: 1000;
}

.has-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.drop-top {
    margin-top: 20px;
}

.drop-top-forty {
    margin-top: 40px;
}

.drop-bottom {
    margin-bottom: 20px;
}

.drop-bottom-forty {
    margin-bottom: 40px;
}

.admin-body {
    background-color: #eaeaea;
}