{{define "Content"}}
<div id="coursePlayer">
    <div class="section" style="background-color: black;">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">
                    <video
                            ref="video"
                            id="my-video"
                            class="video-js vjs-default-skin"
                            controls
                            preload="auto"
                            data-setup='{ "aspectRatio":"16:9", "fluid": true }'></video>
                </div>
            </div>

        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="is-size-1">{{.course.Title}}</h1>
                    </div>
                </div>
            </div>
            <hr />
            <div class="columns">
                <div class="column is-two-fifths">
                    <div class="has-text-centered">
                        <img src="https://via.placeholder.com/150" />
                        <h2 class="is-size-3">Dummy user info here</h2>
                    </div>
                </div>
                <div class="column">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Lesson Title</th>
                                <th>Description</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="l in course.lessons">
                                <td><a v-on:click="selectLesson(l);">[[l.title]]</a></td>
                                <td>[[l.description]]</td>
                                <td>[[l.duration]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "Js"}}
    <script>
        var slug = "{{.slug}}";
        var course = {{.course}};
        new Vue({
            el: "#coursePlayer",
            data: {
                course: {},
                activeLesson: {},
                player: ''
            },
            methods: {
                initializePlayer: function() {
                    this.player = videojs("my-video");
                },
                selectLesson: function(lesson) {
                    this.activeLesson = lesson;
                    if(this.activeLesson.cover !== "") {
                        this.player.poster(this.activeLesson.cover);
                    } else {
                        this.player.poster(null);
                    }
                    // this.player.poster(this.course.cover);
                    this.player.src(lesson.videoPath);
                    this.player.load();
                },
                playerSetupEvents: function() {
                    var self = this;
                    this.player.on('ended', function() {
                        var currentIndex = self.course.lessons.indexOf(self.activeLesson);
                        if(currentIndex < self.course.lessons.length - 1) {
                            self.selectLesson(self.course.lessons[currentIndex + 1]);
                        } else {
                            alert("Course ended!");
                        }
                    })
                }
            },
            mounted: function() {
                // Thoughts on getting the player ready: https://github.com/videojs/video.js/issues/4167
                this.course = course;
                this.initializePlayer();
                this.playerSetupEvents();
                this.selectLesson(this.course.lessons[0]);
            }
        })
    </script>
{{end}}